.class-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px 0;
  width: 90%; /* Reduce el ancho del card */
  max-width: 700px; /* Máximo ancho del card */
  position: relative;
  transition: transform 0.2s;
  text-align: left; /* Alineación a la izquierda */
}

.class-card:hover {
  transform: scale(1.02);
}

.card-header {
  position: absolute;
  top: 8px;
  right: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.card-content {
  h3 {
    margin: 0;
    font-size: 1.2em;
  }

  p {
    margin: 8px 0;
    font-size: 1em;
  }

  .aligned-right {
    float: right; /* Alineación a la derecha */
  }

  .late-text {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
  }

  .late-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}
